{
  "plugins": [
    [
      "module-resolver",
      {
        "root": "./",
        "alias": {
          "@icons": "./public/icons"
        }
      }
    ],
    ["inline-react-svg"],
    ["styled-components", { "ssr": true }]
  ],
  "presets": ["next/babel"]
}