{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@icons": "./public/icons",
          "~": "./src"
        }
      }
    ],
    "inline-react-svg",
    ["styled-components", { "ssr": false }]
  ]
}